{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/signup.css">
<link rel="stylesheet" href="/css/gradients.css">
{% endblock %}

{% block content %}

  <div class="container" id="list">
    <div class="content">
      <div id="main">
          <h1>500 - Server Error</h1>
      </div>
    </div><!-- main content -->
    <div class="push"></div>
  </div> <!-- end of #container -->
{% endblock %}
