---
layout: default
title: Home
---
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1 style="color:black;">Django Beginners</h1>
      </div>

      <div class="row">
        <div class="span12">
          <h1>Workshop Index</h1>
          <hr/>
          <h3>Intro</h3>
          <ol>
{% for topic in site.categories.intro_topics reversed %}  
              <li>
              <h4><a href={{ topic.url }}>{{ topic.title }}</a></h4>
              </li>
{% endfor %}
          </ol>
          <hr/>
          <h3>Lectures/Exercises</h3>
          <ol>
{% for topic in site.categories.lecture_topics reversed %}  
              <li>
              <h4><a href={{ topic.url }}>{{ topic.title }}</a></h4>
              </li>
{% endfor %}
          </ol>
          <hr/>
          <h3>Outro</h3>
          <ol>
{% for topic in site.categories.outro_topics reversed %}  
              <li>
              <h4><a href={{ topic.url }}>{{ topic.title }}</a></h4>
              </li>
{% endfor %}
          </ol>
        </div> <!-- end span -->
      </div> <!-- end row -->

      <br/>
      <div class="alert alert-info">
        <h4><a style="color:black;" href="https://groups.google.com/forum/#!forum/django-seattle">Sign up for the Django-Seattle (Google Group)</a></h4>
      </div>
